<table>
  <tbody>
    <% room.recent_messages.each do |message| %>
      <% if (user = room.user(message[:user_id])) %>
        <tr>
          <td class="user"><%= user[:name].split(" ")[0] %></td>
          <td class="message"><%= message[:body] || ".." %></td>
        </tr>
      <% end %>
    <% end %>
    <tr class="template">
      <td class="user"></td>
      <td class="message"></td>
    </tr>
  </tbody>
</table>