<% javascript "room_tab" %>
<%= render "rooms/subscribers" %>
<% room_count = @current_rooms.length %>
<table id="rooms" class="layout">
  <tbody>
    <tr>
      <% @current_rooms.each do |room| %>
        <%= render "rooms/room", :room => room, :room_count => room_count %>
      <% end %>
    </tr>
  </tbody>
</table>
